@font-face {
  font-family: norse-bold;
  src: url(../fonts/Norse-Bold.otf);
}

$logo-font: norse-bold;
$logo-div-color: rgba(17, 16, 16, 0.5);
$button-color: #596D48;
$form-border-color: #E5E7EB;

@import "./_aside.scss";

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.main-container {
  display: flex;
  width: 100%;
}


